{{#models}}
{{#model}}
package {{{packageName}}}.{{modelPackage}}.{{{classname}}}

import org.json.JSONObject;

public class {{classname}} {

{{#vars}}
    public boolean has{{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}}() {
        return this.json.has("{{name}}");
    }

    public {{dataType}} get{{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}}() {
        return this.{{#lambda.camelcase}}parse_{{dataType}}{{/lambda.camelcase}}(this.json, "{{name}}");
    }

{{/vars}}
    /**
     * support method.
     */
    private boolean parseBoolean(JSONObject json, String key) {
        return json.getBoolean(key);
    }

    /**
     * support method.
     */
    private Integer parseInteger(JSONObject json, String key){
        return json.getInteger(key);
    }

    /**
     * support method.
     */
    private Long parseLong(JSONObject json, String key) {
        return json.getLong(key);
    }

    /**
     * support method.
     */
    private LocalDateTime parseLocalDateTime(String key) {
        return LocalDateTime.parse(json.getString(key));
    }

}
{{/model}}
{{/models}}